* {
    font-family: "Fira Code Retina", monospace;
}

.global-component{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-component{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: black solid 3px;
    min-width: 30%;
    margin: auto 0;
}

.landscape-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 10px solid #b4b1b8;
    padding: 5px;
    box-shadow: 3px 7px 3px 2px #999;
    border-radius: 5px;
    margin: 0 auto;
    inline-size: fit-content;
    background-color: #6f6d72;
    user-select: none;
    transition: all 400ms ease-in-out;
    place-self: center center;
}

.console-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.character-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: black solid 3px;
    margin: auto 0;
}

.character-name{
    display: flex;
    flex-direction: row;
    min-width: 30%;
    margin: 1em;
}

#character-name{
    font-weight: bold;
    color: rgba(32,32,32,0.8);
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1;
    margin-left: 1em;
}
.stats-n-params-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.character-stats-n-params{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.character-stat{
    margin: 1em;
}

#landscape-description{
    text-underline: burlywood;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.color-palette-container{
    position: absolute;
    top: 1em;
    left: 1em;
    display: flex;
    flex-direction: column;

}

.settings {
    position: absolute;
    top: 1em;
    right: 1em;
    transition: all 200ms ease-in-out;
    cursor: no-drop;
}

.settings:hover {
    filter: opacity(0);
}

body {
    overflow-y: hidden;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 2;
}
textarea {
    padding: 10px;
    border-radius: 5px;
    line-height: 1.8;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
    transition: all .3s ease;
    margin-bottom: 1em;
}
textarea:focus {
    transform: scale(2) translateY(6em);
    z-index: 10;

}


.beautiful-text{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 0.5em;
}
#generate{
    background-color: rgba(57,51,72,0.6);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 400ms ease;
    border-radius: 5px;
    box-shadow: dimgrey 1px 1px 1px;
    margin-bottom: 1em;
}
#generate:hover{
    background-color: rgba(57,51,72,0.8);
}
#generate:active{
    background-color: rgba(57,51,72,0.4);
}


.tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height:2%;
    min-width: 2%;
    transition:all 200ms ease;

}

.tile {
    border: #cccccc 1px solid;
    display: flex;
    height:2.5rem ;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    transition:all 100ms ease-in;
    user-select: none;
}

.tile:hover{
    transform: scale(2);
    transition: all 500ms ease;
    box-shadow: 1px 2px 3px  #000000;
    filter: opacity(1);
    z-index: 5;
    cursor: pointer;
}

.tile:active{
    transform: scale(0.8);
    transition: all 100ms ease-in-out;
    box-shadow: 1px 1px 1px #999;
    z-index: 2;
}

img{
    margin-left: auto;
    margin-right: auto;
    transition: all 200ms ease;

}

.world-description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    size: auto;
    justify-content: center;
    align-items: center;
}
.modal-overlay{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    border: 3px solid #6f6d72;
    background-color: #b4b1b8;
    border-radius: 5px;
    margin: 20% auto;
    max-width: 15%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    z-index: auto;
    animation: ease-in 0.5s modalsAnimation;
}

.modal-header h2, .modal-footer h3{
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
}

.modal-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
    box-sizing: content-box;
}

.modal-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 200ms ease-in-out;
}

#closeBtn {
    color: #aaaaaa;
    cursor: pointer;
}
.modal-header{
    text-decoration: underline #b4b1b8;
    padding: 15px;
    color: #fff;
    border-bottom: 1px solid #6f6d72;
}

.modal-body{
    padding: 10px 20px;
}

.cords-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 2px solid #6f6d72;

}

.cords{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 10px;

}

#exit-city-button{
    margin-top: 2em;
}

.next-area-container{
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

#next-area-left{
    justify-self: start;
    transform: scale(-1);
    padding-left: 50%;


}
#next-area-right{
    justify-self: end;
    padding-right: 50%;

}

@keyframes modalsAnimation{
    from{
        transform: scale(0) translateY(-1000px);
        filter: opacity(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes landingAnimation{
    0%{
        transform: translate(0, 1000px) scale(2.5);
        background: linear-gradient(
                rgba(128, 17, 0, 1),
                rgba(182, 34, 3, 1),
                rgba(215, 53, 2, 1),
                rgba(252, 100, 0, 1),
                rgba(255, 117, 0, 1),
                rgba(250, 192, 0, 1),
                rgba(128, 17, 0, 1));
        opacity: 0.3;
        z-index: auto;
        box-shadow:
                0 20px 5px #801100,
                0 30px 6px #B62203,
                0 40px 7px #D73502,
                0 50px 8px #FC6400,
                0 60px 9px  #FF7500,
                0 70px 10px  #FAC000;
    }
    20%{
        transform: translate(0, 80px)  scale(1.3);
        box-shadow:
                0 15px 5px #801100,
                0 10px 6px #B62203,
                0 20px 7px #D73502,
                0 25px 8px #FC6400,
                0 30px 9px  #FF7500,
                0 40px 10px  #FAC000;
    }
    40%{
        box-shadow:
                0 5px 5px #801100,
                0 10px 6px #B62203,
                0 15px 7px #D73502,
                0 20px 8px #FC6400,
                0 25px 9px  #FF7500,
                0 30px 10px  #FAC000;
    }
    60%{
        box-shadow:
                0 10px 10px #801100,
                0 5px 5px #B62203,
                0 12px 6px #D73502,
                0 6px 7px #FC6400,
                0 15px 8px  #FF7500,
                0 8px 9px  #FAC000;
    }
    80%{
        box-shadow:
                0 3px 9px #801100,
                0 6px 10px #B62203,
                0 9px 5px #D73502,
                0 12px 6px #FC6400,
                0 15px 7px  #FF7500,
                0 18px 8px  #FAC000;
    }
    100%{
        background: linear-gradient(
                rgba(128, 17, 0, 0),
                rgba(182, 34, 3, 0),
                rgba(215, 53, 2, 0),
                rgba(252, 100, 0, 0),
                rgba(255, 117, 0, 0),
                rgba(250, 192, 0, 0),
                rgba(128, 17, 0, 0));
        transform:translate(0, 0) scale(1);
        opacity: 1;
        z-index: auto;
        box-shadow:
                0 1px 8px #801100,
                0 2px 9px #B62203,
                0 3px 10px #D73502,
                0 4px 5px #FC6400,
                0 5px 6px  #FF7500,
                0 6px 7px  #FAC000;
    }
}


@keyframes takeOffAnimation {
    0%{
        opacity: 1;
        background: linear-gradient(
                rgba(128, 17, 0, 0),
                rgba(182, 34, 3, 0),
                rgba(215, 53, 2, 0),
                rgba(252, 100, 0, 0),
                rgba(255, 117, 0, 0),
                rgba(250, 192, 0, 0),
                rgba(128, 17, 0, 0));
        transform: translate(0, 0) scale(1) ;
        z-index: auto;
        box-shadow:
                0 3px 5px #801100,
                0 4px 6px #B62203,
                0 5px 7px #D73502,
                0 6px 8px #FC6400,
                0 7px 9px  #FF7500,
                0 8px 10px  #FAC000;
    }
    20%{
        box-shadow:
                0 5px 5px #801100,
                0 10px 6px #B62203,
                0 12px 7px #D73502,
                0 15px 8px #FC6400,
                0 18px 9px  #FF7500,
                0 22px 10px  #FAC000;
    }
    40%{
        box-shadow:
                0 7px 5px #801100,
                0 10px 6px #B62203,
                0 15px 7px #D73502,
                0 18px 8px #FC6400,
                0 20px 9px  #FF7500,
                0 35px 10px  #FAC000;
    }
    60%{
        box-shadow:
                0 5px 10px #801100,
                0 7px 5px #B62203,
                0 12px 6px #D73502,
                0 15px 7px #FC6400,
                0 18px 8px  #FF7500,
                0 22px 9px  #FAC000;
    }
    80%{
        transform: translate(0, -70px)  scale(1.6);
        box-shadow:
                0 15px 5px #801100,
                0 20px 6px #B62203,
                0 25px 7px #D73502,
                0 35px 8px #FC6400,
                0 55px 9px  #FF7500,
                0 75px 10px  #FAC000;
    }
    100%{
        transform: translate(0, -1000px)  scale(2);
        background: linear-gradient(
                rgba(128, 17, 0, 1),
                rgba(182, 34, 3, 1),
                rgba(215, 53, 2, 1),
                rgba(252, 100, 0, 1),
                rgba(255, 117, 0, 1),
                rgba(250, 192, 0, 1),
                rgba(128, 17, 0, 1));
        z-index: auto;
        opacity: 0.3;
        box-shadow:
                0 15px 5px #801100,
                0 25px 6px #B62203,
                0 35px 7px #D73502,
                0 45px 8px #FC6400,
                0 55px 9px  #FF7500,
                0 70px 10px  #FAC000;
    }
}

@keyframes playerPassing {
    0%{
        box-shadow:
                0 5px 10px 5px #fad9c1,
                0 5px 20px 10px #f9caa7
    }
    50%{
        transform: scale(1.2);
        box-shadow:
                0 10px 20px 10px #fad9c1,
                0 10px 20px 10px #f9caa7
    }
    100%{
        box-shadow:
                0 0 20px 10px #fad9c1,
                0 0 10px 5px #f9caa7

    }

}