* {
    font-family: "Fira Code Retina", monospace;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 2;
}
textarea {
    padding: 10px;
    border-radius: 5px;
    line-height: 1.8;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
    transition: all .3s ease;
}
textarea:focus {
    transform: scale(2) translateY(6em);
    z-index: 10;

}


.beautiful-text{
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 10px;
}
#generate{
    background-color: rgba(57,51,72,0.6);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 400ms ease;
    border-radius: 5px;
    box-shadow: dimgrey 1px 1px 1px;
}
#generate:hover{
    background-color: rgba(57,51,72,0.8);
}
#generate:active{
    background-color: rgba(57,51,72,0.4);
}

.landscape-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 10px solid #b4b1b8;
    padding: 5px;
    box-shadow: 3px 7px 3px 2px #999;
    border-radius: 5px;
    margin: 0 auto;
    inline-size: fit-content;
    background-color: #6f6d72;
    max-width: 90%;
    max-height: 30%;
    user-select: none;
    transition: all 400ms ease-in-out;

}

.tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height:2%;
    min-width: 2%;

}

.tile {
    border: #cccccc 1px solid;
    display: flex;
    height:2.5rem ;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    transition:all 100ms ease-in;
    user-select: none;
}

.tile:hover{
    transform: scale(2);
    transition: all 500ms ease;
    box-shadow: 1px 2px 3px  #000000;
    filter: opacity(1);
    z-index: 5;
    cursor: pointer;
}

.tile:active{
    transform: scale(0.8);
    transition: all 100ms ease-in-out;
    box-shadow: 1px 1px 1px #999;
    z-index: 2;
}

img{
    margin-left: auto;
    margin-right: auto;

}

.world-description{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    size: auto;
    justify-content: center;
    align-items: center;
}
.modal-overlay{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    border: 3px solid #6f6d72;
    background-color: #b4b1b8;
    border-radius: 5px;
    margin: 20% auto;
    max-width: 15%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    z-index: auto;
    animation: ease-in 0.5s modalsAnimation;
}

.modal-header h2, .modal-footer h3{
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
}

#closeBtn{
    color: #aaaaaa;
    cursor: pointer;
}
#landing-button{
    cursor: pointer;
}
#take-off-button{
    cursor: pointer;
}

.modal-header{
    text-decoration: underline #b4b1b8;
    padding: 15px;
    color: #fff;
    border-bottom: 1px solid #6f6d72;
}

.modal-body{
    padding: 10px 20px;
}

.cords-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 2px solid #6f6d72;

}

.cords{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 10px;

}

@keyframes modalsAnimation{
    from{
        transform: scale(0) translateY(-1000px);
        filter: opacity(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes landingAnimation{
    0%{
        transform: translate(0, -1000px);
        box-shadow:
                0 5px 5px #801100,
                0 10px 6px #B62203,
                0 15px 7px #D73502,
                0 4px 8px #FC6400,
                0 25px 9px  #FF7500,
                0 30px 10px  #FAC000;
    }
    20%{
        box-shadow:
                0 5px 5px #801100,
                0 12px 6px #B62203,
                0 7px 7px #D73502,
                0 10px 8px #FC6400,
                0 15px 9px  #FF7500,
                0 17px 10px  #FAC000;
    }
    40%{
        box-shadow:
                0 5px 5px #801100,
                0 10px 6px #B62203,
                0 15px 7px #D73502,
                0 20px 8px #FC6400,
                0 25px 9px  #FF7500,
                0 30px 10px  #FAC000;
    }
    60%{
        box-shadow:
                0 10px 10px #801100,
                0 5px 5px #B62203,
                0 12px 6px #D73502,
                0 6px 7px #FC6400,
                0 15px 8px  #FF7500,
                0 8px 9px  #FAC000;
    }
    80%{
        box-shadow:
                0 3px 9px #801100,
                0 6px 10px #B62203,
                0 9px 5px #D73502,
                0 12px 6px #FC6400,
                0 15px 7px  #FF7500,
                0 18px 8px  #FAC000;
    }
    100%{
        box-shadow:
                0 1px 8px #801100,
                0 2px 9px #B62203,
                0 3px 10px #D73502,
                0 4px 5px #FC6400,
                0 5px 6px  #FF7500,
                0 6px 7px  #FAC000;
    }
}

@keyframes takeOffAnimation {
    0%{
        transform: translate(0, 0);
        box-shadow:
                0 5px 5px #801100,
                0 10px 6px #B62203,
                0 15px 7px #D73502,
                0 20px 8px #FC6400,
                0 25px 9px  #FF7500,
                0 30px 10px  #FAC000;
    }
    20%{
        box-shadow:
                0 5px 5px #801100,
                0 7px 6px #B62203,
                0 10px 7px #D73502,
                0 12px 8px #FC6400,
                0 15px 9px  #FF7500,
                0 17px 10px  #FAC000;
    }
    40%{
        box-shadow:
                0 5px 5px #801100,
                0 10px 6px #B62203,
                0 15px 7px #D73502,
                0 20px 8px #FC6400,
                0 25px 9px  #FF7500,
                0 30px 10px  #FAC000;
    }
    60%{
        box-shadow:
                0 10px 10px #801100,
                0 8px 5px #B62203,
                0 7px 6px #D73502,
                0 6px 7px #FC6400,
                0 5px 8px  #FF7500,
                0 4px 9px  #FAC000;
    }
    80%{
        box-shadow:
                0 5px 5px #801100,
                0 10px 6px #B62203,
                0 15px 7px #D73502,
                0 20px 8px #FC6400,
                0 25px 9px  #FF7500,
                0 30px 10px  #FAC000;
    }
    100%{
        transform: translate(0, -1000px);
        box-shadow:
                0 5px 5px #801100,
                0 10px 6px #B62203,
                0 15px 7px #D73502,
                0 20px 8px #FC6400,
                0 25px 9px  #FF7500,
                0 30px 10px  #FAC000;
    }
}